<nav id="main-nav" class="fade-in-slower">
  <div class="vertical">
    <div class="nav-container">
      <div class="nav-items">
        <a href="{{ .Site.BaseURL }}" class="mobile-nav-title"><img class="nav-logo" src="/images/blessyourheart-masonjar.svg" alt="{{ .Site.Title }}"></a>
        <ul>
          <li>
            <a href="/story">Our Story</a>
          </li>
          <li>
            <a href="/services/">Services</a>
          </li>
          <li>
            <a href="/store">Shop</a>
          </li>
          <li>
              <a class="nav-title" href="{{ .Site.BaseURL }}"><img class="nav-logo" src="/images/blessyourheart-masonjar.svg" alt="{{ .Site.Title }}"></a>
          </li>
          <li>
            <a href="/home-design-services">Home Design</a>
          </li>
          <li>
            <a href="/journal">Journal</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
            <a href="#" class="nav-button" id="navButton">
      <span class="burger-icon"></span>
    </a>
      </div>
    </div>

  </div>
</nav>
<nav id="mobile-nav" class="mobile-nav exit">
  <div class="mobile-nav-items">
    <ul class=vertical>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/story">Our Story</a>
      </li>
      <li>
        <a href="/store">Shop</a>
      </li>
      <li>
        <a href="/services/">Services</a>
      </li>
      <li>
        <a href="/home-design-services">Home Design</a>
      </li>
      <li>
        <a href="/journal">Journal</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
