{{ if .Params.image }}
{{ $image := (resources.Get .Params.image).Fill "2000x1168" }}
<header class="page-header fade-in" style="background-image: url({{ $image.RelPermalink }});">
{{ else }}
<header class="page-header fade-in" style="background-image: url(/images/flower.jpg);">
{{ end }}
{{ if eq .Params.overlay true }}
<div class="page-header-overlay"></div>
{{ end }}
  <div class="page-header-content fade-in-slow">
    <div class="container">
      <h1 class="page-title">{{ .Title }}</h1>
    </div>
  </div>
</header>
