{{ define "main" }}
{{ block "page-header" . }}{{ partial "site/page-header.html" . }}{{ end }}
<article class="page">
    <div class="container">
      {{ range .Paginator.Pages }}
        <div class="post">
          {{ $image := (resources.Get .Params.image).Fill "2000x1168" }}
          <h3>{{ .Date.Format "Jan 2, 2006"}}</h3>
          <hr>
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <h4>Written by <b>{{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</b></h4>
          <img src="{{ $image.RelPermalink }}" alt="">
          {{ .Summary }}
        </div>
      {{ end }}
  
      {{ template "_internal/pagination.html" . }}
    </div>
  </article>
  {{ end }}