.site-main{
}

.home-banner{
  height: 80vh;
  min-height: 80vh;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media (max-width: $tablet) {
    background-attachment: scroll;
  }
  .home-banner-content{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: .2em;
    margin-top: 20vh;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    .home-banner-logo{
      height: 30vh;
      width: auto;
      margin-bottom: $spacing-unit / 2;
      @media (max-width: $phone) {
        margin-bottom: $spacing-unit / 4;
      }
    }
    .home-banner-title{
      font-size: 4rem;
    }
  }
} 
.page{
  padding: $spacing-unit / 2;

}
.page-header{
  height: 70vh;
  min-height: 70vh;
  width: 100%;
  display: table;
  padding-top: 5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media (max-width: $tablet) {
    background-attachment: scroll;
  }
} 
.page-header-content{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: $spacing-unit;
  background: $color-white;
  .page-title{
    font-size: 5rem;
    margin: 0;
    text-align: center;
  }
}

.post{
  h2{
    text-align: center;
  }
}