nav{
  width: 100%;
  display: table;
  text-align: center;
  position: absolute;
  z-index: $height-high;
  -webkit-transition: all .3s ease-out; /* Saf3.2+, Chrome */
  -moz-transition: all .3s ease-out; /* FF3.7+ */
  -o-transition: all .3s ease-out; /* Opera 10.5 */
  transition: all .3s ease-out;
  background: $color-white;
  }

  .nav-container{
 
    @include span(8/8);
  }
  .nav-items{
    width: 100%;
    line-height: 0;
    padding-top: .2em;
    box-shadow: 0 .2em .4em - .4em $color-white;
    ul{
      margin: 0;
      display: inline-block;
      @media (max-width: $tablet) {
        display: none;
      }
      li{
        float: left;
        display: block;
        margin: 0 .2em;
        a{
          color: $color-brand;
          display: inline-block;
          padding: $spacing-unit / 3 $spacing-unit / 4;
          box-shadow: none;
          font-size: .8rem;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: .2em;
          box-shadow: 0 .2em .4em - .4em $color-transparent;
          
        }
        a:hover{
          color: $color-brand-alt;
          box-shadow: 0 .2em .4em - .4em $color-brand-alt;
        }
        a.active{
          color: $color-brand;
          box-shadow: 0 .2em .4em - .4em $color-brand-alt;
        }
      }
      a.nav-title{
        margin: 0;
        padding: 0;
        margin: .5em 1em;
        :hover{
          box-shadow: none;
        }
        img.nav-logo{

          height: 4em;
          width: auto;
          @media (max-width: $tablet) {
            display: block;
          }
        }
        img.nav-alt-logo{
          height: 4em;
          width: auto;
          margin: 0 $spacing-unit / 2;
          display: none;
        }
    }
  }
}
a.nav-button {
  display: none;
  margin-top: .8em;
  z-index: $height-top;
  box-shadow: none;
  float: right;
  @media (max-width: $tablet) {
    display: inline-block;
  }
}
@import "burger";
.burger-icon {
	@include burger(30px, 3px, 5px, $color-brand-alt);
}
.dark .burger-icon {
	@include burger(30px, 3px, 5px, $color-black);
}
.nav-button.is-active .burger-icon {
	@include burger-to-cross($color-brand);
}

//Mobile Menu
.mobile-nav{
  width: 100%;
  height: 100%;
  z-index: $height-high;
  text-transform: uppercase;
  text-align: center;
  display: none;
  background: $color-white;
  position: fixed;
}
.mobile-nav-items{
  width: 100vw;
  height: 100vh;
  display: table;
  letter-spacing: .2em;
}
.mobile-nav-items ul{
  width: 100vw;
  height: 100vh;
}
.mobile-nav-items a{
  font-size: .9rem;
  letter-spacing: .1em;
  display: block;
  padding: .5em 0;
  width: 100%;
  margin: 0 auto;
}
.mobile-nav-items a:hover{
  text-decoration: none;
  color: $color-brand;
  -webkit-transition: color .3s linear; /* Saf3.2+, Chrome */
  -moz-transition: color .3s linear; /* FF3.7+ */
  -o-transition: color .3s linear; /* Opera 10.5 */
  transition: color .3s linear;
}

.mobile-nav-items a.nav-calltoaction{
  color: $color-white;
  background: $color-brand;
  &:hover {
    color: $color-white;
  }
}