nav{
  width: 100%;
  display: table;
  text-align: center;
  position: relative;
  padding-top: 1em;
  z-index: $height-top;
  -webkit-transition: all .3s ease-out; /* Saf3.2+, Chrome */
  -moz-transition: all .3s ease-out; /* FF3.7+ */
  -o-transition: all .3s ease-out; /* Opera 10.5 */
  transition: all .3s ease-out;
  }
  .headroom--top{
    position: relative;
    background: $color-transparent;
  }
  .headroom--pinned{
    position: fixed;
    background: $color-white;
    .nav-items{
      ul{
        li{
          a{
            color: $color-brand;
          }
        }
      }
    }
  }
  .headroom--unpinned{
    position: relative;
    background: $color-transparent;
  }
  .nav-items{
    width: 100%;
    ul{
      height: 4em;
      margin: 0;
      display: inline-block;
      li{
        float: left;
        display: block;
        margin: 0 .2em;
        a{
          color: $color-brand;
          display: inline-block;
          padding: $spacing-unit / 4;
          box-shadow: none;
          font-size: .8rem;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: .2em;
          box-shadow: 0 .1em .4em - .4em $color-transparent;
          
        }
        a:hover{
          color: $color-brand-alt;
          box-shadow: 0 .1em .4em - .4em $color-brand-alt;
        }
        a.active{
          color: $color-brand;
          box-shadow: 0 .1em .4em - .4em $color-brand-alt;
        }
      }
      li.nav-title{
        margin: 0;
        padding: 0;
        img.nav-logo{
          height: 2em;
          font-size: 1.8rem;
          width: auto;
          margin: 0 $spacing-unit / 2;
          margin-top: -.7em;
        }
    }
  }
}