<section class="block-section">
  {{- if .Params.image -}}
  {{ $image := (resources.Get .Params.image).Fill "1000x800" }}
  <div alt="{{ .Params.heading }}" class="block-image {{ .Params.image_alignment }}{{ if eq .Params.shift_image true }} shift-up{{ end }}" style="background-image:url({{ $image.RelPermalink }});">
  {{ else }}
  <div alt="{{ .Params.heading }}" class="block-image"></div>
  {{ end }}
  </div>
  <div class="block-content">
    <div class="block-text vertical">
      <div class="container">
        {{- with .Params.heading -}}
        <h2>{{ markdownify . }}</h2>
        {{ end }}
        {{- with .Params.content -}}
        <p>{{ markdownify . }}</p>
        {{- end -}}
        {{- if and .Params.button_url .Params.button_text -}}
        <a href="{{ .Params.button_url }}" class="fancy-button bg2"><span>{{ .Params.button_text }}</span></a>
        {{ end }}
      </div>
    </div>
  </div>
</section>