<section class="block-feature-alt">
    <div class="vertical">
      <div class="block-feature-content">
        <div class="block-text">
          <div class="container">
            {{- with .Params.heading -}}
            <h2>{{ markdownify . }}</h2>
            <hr />
            {{ end }}
            {{- with .Params.content -}}
            <p>{{ markdownify . }}</p>
            {{- end -}}
          </div>
        </div>
        <div class="gallery">
          {{- if .Params.gallery -}}
            {{ range .Params.gallery }}
            {{ $imageSmall := (resources.Get .).Fill "600x800" }}
            {{ $imageLarge := (resources.Get .).Fill "1000x1200" }}
              <a href="{{ $imageLarge.RelPermalink }}" class="block-gallery-item">
                <img src="{{ $imageSmall.RelPermalink }}">
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
</section>